#	IMPEDIR QUE SE PUEDA VER EL LISTADO DE CONTENIDOS DE UN DIRECTORIO

Options All -Indexes

# 	ACTIVAR REWRITEENGINE ON

RewriteEngine on

# 	Reescribir la URL solicitada por el usuario
#   Entrada:  index/MODULO/
#   Salida: index.php?modulo=MODULO

RewriteRule ^(\w+)$ index.php?modulo=$1 [L]
RewriteRule ^info/(\w+)?$ index.php?modulo=info&productId=$1 [L]
RewriteRule ^compartir/(\w+)/(\w+@\w+.com)?$ index.php?modulo=compartir&origen=$1&recomienda=$2